[Unit]
Description=OpenStack Neutron DHCP Agent
After=syslog.target network.target

[Service]
Type=notify
User=neutron
ExecStart=/usr/bin/neutron-dhcp-agent --config-file /usr/share/defaults/neutron/neutron.conf --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/dhcp_agent.ini
PrivateTmp=false
NotifyAccess=all
KillMode=process

[Install]
WantedBy=multi-user.target
